<!--{{user.emailId}}--{{user.userName}}--{{user.password}}--{{user.phoneNumber}}-->
<div id="appContainer">

    <div class="row">

    </div>
    <div class="form-row mb-4">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-right"><b>Profile Settings</b></h3>
            </div>
            <form (ngSubmit)="onSubmit()">
            <div class="col">
                <div class="col-md-6"><label class="labels"><b>User Name</b></label>
                    <pre><input type="text" style="font-size: 16pt;" class="form-control" [(ngModel)]="userUpdated.userName" placeholder="userName" name="userName"></pre>
                </div><br>
                <div class="col-md-6"></div><br>



                <div class="col-md-6"><label class="labels"><b>PhoneNumber</b></label>
                    <pre><input type="text" style="font-size: 16pt;" class="form-control" placeholder="enter phone number" [(ngModel)]="userUpdated.phoneNumber" name="phoneNumber"></pre>
                </div><br>
                <div class="col-md-6"><label class="labels"><b>password</b></label>
                    <pre><input type="text" style="font-size: 16pt;" class="form-control" placeholder="enter password" [(ngModel)]="userUpdated.password" name="password"></pre>
                </div><br>
                
                <div class="col-md-6"><label class="labels"><b>Email ID</b></label>
                    <pre><input type="text" style="font-size: 16pt;"class="form-control" name="emailId" placeholder="enter email id" [(ngModel)]="userUpdated.emailId" disabled></pre>
                </div><br>

            </div>
        
            <div>
                <div class=" col-md-5"><input class="btn btn-primary profile-button" type="submit"
                        style="font-size: 16pt;" value="Save Profile"></div><br>

               <!-- <div class="col-md-5"><button class="btn btn-primary profile-button" type="button"
                        style="font-size: 16pt;">Edit Profile</button></div>-->
            </div>
        </form>
        </div>
    </div>